
main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: rgb(35, 2, 37);
  --secondary: ;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--primary);
  color: var(--light);

}

/* COMMON STYLING */
.centered {
  text-align: center;
}

/*HEADER AND NAV BAR STYLING */
a:link {
  color: white;
  background-color: rgba(50, 10, 53, 0.822);
  border-style: none;
  border-color:var(--primary);
  border-radius: 10px;
  padding: 10px 20px;
}

a:visited {
  color: white;
  background-color: rgba(50, 10, 53, 0.822);
  border-style: solid;
  border-radius: 10px;
}

a:hover {
  color: rgb(50, 10, 53);
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.63);
  border-style: solid;
  border-color: rgb(50, 10, 53) ;
  border-radius: 10px;
}

a.monay:hover{
  color: Wheat;
  font-size: 25px;
  background-color: rgba(10, 97, 9, 0.788);
  border-style: solid;
  border-color: wheat;
  border-radius: 10px;
}

header {
  background-image: url("./assets/cover/cover-image.jpg");
  background-size: cover;
  background-position: 25%;
  background-attachment: fixed;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  margin-bottom: 5px;
}

.header-title {
  color: white;
  text-align: left;
  margin-left: 176px;
}

.navbar-end {
  align-items: left;
}

li {
  list-style: none;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

/* HERO STYLING */
.hero {
  background-image: url("./assets/cover/cover-image.jpg");
  background-attachment: fixed; /*rolling affect coupled with header*/
  height: 250px;
  background-size: cover;
  background-position: center;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}


/* ABOUT STYLING */
.about-head {
  text-align: center;
  font-size: larger;
}

.about-border {
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.384);
  margin-bottom: 10px;
}

/* DONATIONS BOX */
.donate-box {
  background-image: url('./assets/cover/donate-filler-image.jpg');
  background-attachment: fixed;
  background-size: cover;
  border-radius: 15px;
  color: rgb(50, 10, 53);
  height: 300px;
  padding-top: 10px;
  margin: 0px 70px;
}

.donate-title{
  text-align: center;
  color: var(--primary);
  backdrop-filter: blur(10px);
  font-size: 26px; 
  border-radius: 10px;
  width: 400px;
  margin-left: 400px;
  border-color: var(--primary);
  border-style: solid;
}

/* CONTACT BOX CONTAINER */
.contactform-container {
  background-image: url("./assets/cover/cover-image.jpg");
  background-attachment: fixed; /*rolling affect coupled with header*/
  height: 410px;
  background-size: cover;
  border-radius: 10px;
  border-color: rgb(0, 0, 163);
  border-style: solid;
  color: #000000;
}

.contitle{
    font-size: 36px;
    color: white;
}

.conname{
margin-left: 477px;
margin-bottom: 5px;
color: white;
}

.conaddress {
color: white;
margin-left: 397px;
margin-bottom: 5px;
}

.conmessage {
color: white;
margin-left: 452px;
}

.conerror {
  color: red;
  font-size: large;
  text-align: center;
}

button:hover {
  background-color: rgb(50, 10, 53);
  color: yellowgreen;
  border-radius: 10px;
  margin-left: 612px ;
}

button {
  background-color: yellowgreen;
  color: rgb(50, 10, 53);
  border-radius: 10px;
  margin-left: 612px;
}

/* FILLER STYLING */
.fillerone {
  border-radius: 10px;
  background-image: url("./assets/cover/cover-image.jpg");
  background-size: cover;
  background-attachment: fixed; /*rolling affect coupled with header*/
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 400px;
}

.fillertwo {
  border-radius: 10px;
  background-image: url("./assets/cover/cover-image.jpg");
  background-size: cover;
  background-attachment: fixed; /*rolling affect coupled with header*/
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 400px;
  margin-right: 50px;
}

.fillerdonateone {
  border-radius: 10px;
  background-image: url("./assets/cover/donate-filler-image.jpg");
  background-size: cover;
  background-attachment: fixed; /*rolling affect coupled with header*/
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 550px;
  margin-right: 50px;
}

.fillerdonatetwo {
  border-radius: 10px;
  background-image: url("./assets/cover/donate-filler-image.jpg");
  background-size: cover;
  background-attachment: fixed; /*rolling affect coupled with header*/
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 400px;
}

.fillerdonatethree {
  border-radius: 10px;
  background-image: url("./assets/cover/donate-filler-image.jpg");
  background-size: cover;
  background-attachment: fixed; /*rolling affect coupled with header*/
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 425px;
  margin-right: 425px;
}

.fillerdonatefour{
  border-radius: 10px;
  background-image: url("./assets/cover/donate-filler-image.jpg");
  background-size: cover;
  background-attachment: fixed; /*rolling affect coupled with header*/
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 550px;
  margin-right: 150px;
}

/* FOOTER STYLING */

.footer {
  background-color: rgba(255, 255, 255, 0.384);
  border-radius: 10px;
  text-align: center;
  margin: 0px 10px 15px 10px;
  border-style: solid;
}